@import '../../styles/vars/vars.scss';
.Login {
    padding: 7% 30%;
    font-family: aileronthin;
}
.Submit {
    button {
        background-color: $primary-color !important;
        color: white;
        border-radius: 1px !important;
        text-transform: uppercase !important;
    }
}
.Input {
    width: 100%;
    display: block;
    padding-bottom: 20px;
    padding-bottom: 2rem;
    label {
        float: left;
        font-family: "aileronlight";
        font-size: 1.2em;
        line-height: normal;
        display: block;
        text-transform: uppercase;
        padding-bottom: 5px;
        padding-bottom: 0.5rem;
    }
    input {
        width: calc(100% - 2rem);
        border: 1px solid #4A4A4A;
        font-family: "aileronthin";
        font-size: 1.4em;
        line-height: normal;
        padding: 1rem;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        &:focus {
            outline: 0;
            border: 1px solid #46E1FF;
        }
    }
}
.Remember {
    font-family: "aileronlight";
    font-size: 1.1em;
    line-height: normal;
    color: #4A4A4A;
    text-align: right;
    display: block;
    text-decoration: none;
    padding-top: 4px;
    padding-top: 0.4rem;
    &:hover {
        text-decoration: underline;
    }
}
.Title {
    text-align: center;
    width: 100%;
    float: left;
    padding: 4rem 1.38889%;
    > span {
        border: 2px solid #4A4A4A;
        display: inline-block;
        /* text-align: center; */
        /* width: 60px; */
        width: 4rem;
        /* height: 60px; */
        height: 4rem;
        border-radius: 50%;
        margin-right: 20px;
        margin-right: 2rem;
        > i {
            color: #4A4A4A;
            font-size: 3.8em;
            line-height: 1.5em;
        }
    }
    h2 {
        font-family: "aileronbold";
        font-size: 2.0em;
        line-height: 0.5em;
        color: #4A4A4A;
        display: inline-block;
        vertical-align: bottom;
        text-transform: uppercase;
        padding-top: 15px;
    }
}
.BackgroundLine {
    font-size: 30px;
    color: gray;
}
.ForgotPassword {
    font-size: 18px;
    color: black;
}
